body {
    font-size: 1.2em;
}


form {
    display: flex;
    flex-direction: column;
    gap: .7em;
    width: 100%;
}


.button-div {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    width: 100%;
}

.button-div > * {
    flex: 1;
}

button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: .75em;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    padding: .7em .9em;
    transition: all 200ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.slider {
    --SliderColor: #656565;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: .5em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: var(--SliderColor);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--SliderColor);
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

input[type=text] {
    padding: .5em;
    border: 2px solid #eee;
    border-radius: .5em;
    width: 100%;
    box-sizing: border-box;
}

.wrap-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
}

.center-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: .7em;
}

/* Custom Select wrapper */
.custom-dropdown {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;

    display: flex;
    position: relative;
    width: 100%;
    height: 3em;
    border-radius: 1em;
    overflow: hidden;
}

/* Transition */
.custom-dropdown:hover::after {
    color: #f39c12;
}
