{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script> <!-- Color picker -->
    <script src="{{ url_for('static', filename='color-picker.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="center-content">
        <div class="center-container">
            <p>Calibrate color (white point)</p>
            <div id="picker-container"></div>
            <form method="post">
                <input type="hidden" name="action" value="{% if add_controller %}add{% else %}delete{% endif %}">
                <label for="controller-name">Controller name</label>
                <input id="controller-name" name="name" type="text" value="{{ controller.name }}"
                       oninput="post_controller_data()">

                <label for="use_light_sensor">Folosește senzor lumina</label>
                <input type="checkbox" id="use_light_sensor" name="use_light_sensor" oninput="post_controller_data()"
                        {% if controller.use_light_sensor %} checked {% endif %}>
                <div class="button-div">
                    <button>{% if add_controller %}Add{% else %}Delete{% endif %} controller</button>
                    <button type="button" onclick="document.location.href = document.referrer">Back</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script>
        // Add color picker
        let colorPicker;
        initialize_color_picker({{ controller.calibration.get_hsv_for_js() }});

        function post_controller_data() {
            post_data(window.location, {
                name: document.getElementById('controller-name').value,
                use_light_sensor:  document.getElementById('use_light_sensor').checked

            });
        }
    </script>
{% endblock %}