{% extends 'base.html' %}
{% block head %}
    <script src="{{ url_for('static', filename='warmth-picker.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script> <!-- Color picker -->
    <script src="{{ url_for('static', filename='color-picker.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="center-container">
        <div id="color-container" class="centered-div">
            <div id="picker-container"></div>

            <div id="warmth">
                <label id='warmth-label' for="warmthInput"></label>
                <input type="range" min="1000" max="6600" step='50' value="{{ selectedController.warmth }}"
                       class="slider" id="warmthInput">
            </div>
        </div>

        <div id="choose-controller-container" class="centered-div">
            <label for="controllers">Choose a controller:</label>
            <select class="custom-dropdown" name="controllers" id="controllers"
                    onChange="window.location.href=this.value">
                {% for controller in controllers %}
                    <option {% if controller == selectedController %}
                        selected {% endif %}value={{ url_for('rgb_controller', cid=controller.cid) }}>{{ controller.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="centered-div">
            <form action="/add_controller" method="post">
                <label for="name">Controller name:</label>
                <input type="text" id="name" name="name"><br>
                <input class="btn" type="submit" value="Add controller">
            </form>

            <form action="{{ url_for('configure_controller', cid=selectedController.cid) }}">
                <input class="btn" type="submit" value="Configure controller">
            </form>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script>
        // Refresh page on back button
        const [entry] = performance.getEntriesByType("navigation");
        if (entry["type"] === "back_forward")
            location.reload();

        let colorPicker = initialize_color_picker("{{ selectedController.get_hex_color() }}");
    </script>
{% endblock %}